h3{
    text-align: center;
}

#d1{
    font-style: italic;
    text-align: center;
}
#d2{
    font-style: italic;
    text-align: center;
}
#d3{
    padding-left: 3%;
}
a{
    color: blue;

}
a:hover{
    color: grey;
}
a:visited{
    color: black;
}

#b1{
margin-right: 5%;
}

#pi{
    
}

rect {
    fill: steelblue;
    fill-opacity: 0.8;
  }
  
  rect:hover {
    fill-opacity: 1;
  }
  
  path {
    fill-opacity: 0.8;
  }
  
  .selected,
  path:hover {
    fill-opacity: 1;
  }
  
  .axis {
    font-size: smaller;
  }
  

  h4{
    text-align: center;
  }

  #map{
    width: 900px;
    height:500px;
  }
